* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-primary;
  color: $color-secondary;
  font-family: $font-primary;
  height: 100vh;
  overflow: visible;
  display: flex;
  flex-direction: column;
}